<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% method_verb = cat.persisted? ? 'PATCH' : 'POST' %>
<% flavor_text = cat.persisted? ? 'Edit a cat' : 'Create a cat' %>

<form action=" <%= action_url %>" method="post">
  <input type = 'hidden' name = '_method' value = '<%= method_verb %>'></input>
  <h1><%= flavor_text %></h1>
  <table>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" name="cat[name]" value = "<%= cat.name %>"></input>
      </td>
    </tr>

    <tr>
      <td>Birthday</td>
      <td>
        <input type="date" name="cat[birth_date]" value = "<%= cat.birth_date %>"></input>
      </td>
    </tr>

    <tr>
      <td>Color</td>
      <td>
        <select name = "cat[color]"  value = "<%= cat.color %>">
          <option value= ""> </option>

          <% Cat.colors.each do |color| %>
          <option value= "<%= color %>"
            <%= color == cat.color ? "selected = 'selected'" : ""%>
            > <%=color %> </option>
          <% end %>
        </select>
      </td>
    </tr>

    <tr>
      <td>Sex</td>
      <td>
        <input type="radio" name="cat[sex]", value = 'M'
        <%= cat.sex == "M" ? "checked" : "" %>
        >M</input>
        <input type="radio" name="cat[sex]", value = 'F'
        <%= cat.sex == "F" ? "checked" : "" %>
        >F</input>

      </td>
    </tr>

    <tr>
      <td>Description</td>
      <td>
        <textarea name="cat[description]" ><%= cat.description %></textarea></input>
      </td>
    </tr>

    <tr>
      <td>
        <input type="submit" value="Submit">
      </td>
    </tr>
  </table>

</form>
