<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      <%= @cat.name %>
    </td>
  </tr>
  <tr>
    <td>
      Birthday:
    </td>
    <td>
      <%= @cat.birth_date %>
    </td>
  </tr>
  <tr>
    <td>
      Color:
    </td>
    <td>
      <%= @cat.color %>
    </td>
  </tr>
  <tr>
    <td>
      Sex:
    </td>
    <td>
      <%= @cat.sex %>
    </td>
  </tr>
  <tr>
    <td>
      Description:
    </td>
    <td>
      <%= @cat.description %>
    </td>
  </tr>
</table>

<form action=" <%= cat_url(@cat) %>" method="post">
  <input type = 'hidden' name = '_method' value = 'DELETE'></input>
  <input type="submit" value="Kill cat">
</form>
<a href = "<%= edit_cat_url(@cat) %>"> Edit Cat </a>
<br>

<a href=" <%=cats_url %> " > Back  </a>
<br><br>
<aside> Current rentals: </aside>
<a href = "<%= new_cat_rental_request_url %>">Request this cat!</a>
<table>
<% @cat.cat_rental_requests.order(:start_date).each do |req| %>
<tr> <td><%= req.start_date %></td>
  <td> <%= req.end_date %> </td>
  <td> <%= req.status %> </td>
  <% if req.pending? %>
    <td>
      <form action=" <%= approve_cat_rental_request_url(req.id) %>" method="GET"><input type="submit" value="Approve"></form>
    </td>
    <td>
      <form action=" <%= deny_cat_rental_request_url(req.id) %>" method="GET"><input type="submit" value="Deny"></form>
    </td>

    <% end %>
</tr>
<% end %>
</table>
