<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% [:age, :birth_date, :color, :sex].each do |attr_name| %>
    <tr>
      <td><%= attr_name %></td>
      <td><%= @cat.send(attr_name) %></td>
    </tr>
  <% end %>
</table>

<% if current_user && @cat.user_id == current_user.id  %>
<%= link_to "Edit #{@cat.name}", edit_cat_url(@cat) %>
<% end %>
<h2>Rental Requests</h2>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Requester Name</th>
    <th>Status</th>
  </tr>
  <% @cat.rental_requests.order("start_date").includes(:user).each do |req| %>
    <%= render "req_tr", req: req %>
  <% end %>
</table>
