<h1>Log in</h1>
<form class="" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username
    <input type="text" name="user[user_name]" value="">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
