<h1>Login user</h1>
<form action= '<%= session_url %>' method="post">
  <label>Username
  <input type="textarea" name="user[email]" value="abc@xyz.com">
  </label>
  <br>
  <label>Password
  <input type="password" name="user[password]" value="123qwe">
  </label>
  <br>
  <input type="submit" name="name" value="EVERYONE GET IN HERE">
</form>
