<h1>Edit this album</h1>
<form action= '<%= album_url(@album) %>' method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Album name
    <input type="textarea" name="album[album_name]" value=" <%= @album.album_name %>">
  </label>

  <br>
  <label>Band Name
  <select name="album[band_id]">
    <option value=""></option>
    <% Band.all.each do |band| %>
    <option value="<%= band.id %>" <%= @album.band_id == band.id ? 'selected' : '' %>><%= band.name %></option>
    <% end %>
  </select>
  </label>
  <br>

  <% Album::ALBUM_TYPES.each do |type| %>
  <input type="radio" name="album[type_album]" value="<%= type %>" <%= @album.type_album == type ? 'checked' : '' %>><%= type %>
  <% end %>

  <br>
  <input type="submit" name="name" value="Save">
</form>
