<h1>Add an album</h1>

<form action= '<%= albums_url %>' method="post">
  <label>Album name
    <input type="textarea" name="album[album_name]" value="">
  </label>
  <br>

  <input type="hidden" name="album[band_id]" value="<%= params[:band_id] %>">

  <% Album::ALBUM_TYPES.each do |type| %>
  <input type="radio" name="album[type_album]" value="<%= type %>"><%= type %>
  <% end %>

  <br>
  <input type="submit" name="name" value="Save">
</form>
