<a href="<%= bands_url %>">Home</a> > <a href="<%= band_url(@album.band) %>"><%= @album.band.name %></a> > <%= @album.album_name %>


<h2>Tracks for <%= @album.band.name %>'s <%= @album.type_album %> album <%= @album.album_name %></h2>

<ul>
  <% @album.tracks.each do |track| %>
  <li><a href="<%= track_url(track) %>"><%= track.track_name %></a></li>
  <% end %>
</ul>

<form action="<%= new_album_track_url(@album) %>" method="GET">
  <input type="submit" name="name" value="🎶 ADD A TRACK">
</form>
<form action="<%= edit_album_url %>" method="GET">
  <input type="submit" name="name" value="👨‍👨‍👦 EDIT THIS ALBUM">
</form>
<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="🔥 DELETE THIS ALBUM">
</form>

<br>
