<h1>Edit a band</h1>
<form action= '<%= band_url(@band) %>' method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Band Name
  <input type="textarea" name="band[name]" value="<%= @band.name %>">
  </label>
  <br>
  <input type="submit" name="name" value="Save">
</form>
