Home >
<br>
<h2>🔥 🔥 🔥 THESE ARE THE BEST BANDS 🔥 🔥 🔥 </h2>

<ul>
  <% @bands.each do |band| %>
  <li><a href="<%= band_url(band) %>"><%= band.name %></a>
  <% end %>
</ul>


<form action="<%= new_band_url %>" method="GET">
  <input type="submit" name="name" value="ADD A BAND">
</form>
