<h1>Add a band</h1>
<form action= '<%= bands_url %>' method="post">
  <label>Band Name
  <input type="textarea" name="band[name]" value="">
  </label>
  <br>
  <input type="submit" name="name" value="Save">
</form>
