<a href="<%= bands_url %>">Home</a> >  <%= @band.name %>
<h1><%= @band.name %>'s albums</h1>

<ul>
  <% @band.albums.each do |album| %>
  <li><a href="<%= album_url(album) %>"><%= album.album_name %></a></li>
  <% end %>
</ul>
<form action="<%= new_band_album_url(band_id: @band.id) %>" method="GET">
  <input type="submit" name="name" value="🎺 ADD AN ALBUM">
</form>
<form action="<%= edit_band_url %>" method="GET">
  <input type="submit" name="name" value="😅 EDIT BAND INFO">
</form>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="🙅🏻‍♂️ DELETE THIS BAND">
</form>

<br>
