<h1>
  Create a new user!
</h1>
<br><br>
<form action=" <%= users_url %>" method="post">
<%= auth_token %>
<label for="username">Username</label>
<input type="text" name="user[username]" value="" id="username">
<br>
<label for="password">Password</label>
<input type="text" name="user[password]" value="" id="password">
<br>
<input type="submit" value="Create user!">
</form>
