<!DOCTYPE html>
<html>
<head>
  <title>kenneth swag$$</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<% if logged_in? %>
<%= current_user.user_name %>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="LOG OUT">
</form>
<% else %>
<a href="<%= new_session_url %>">Log in</a>
<br>
<a href="<%= new_user_url %>">New User</a>
<% end %>
</header>

<ul>
<% flash.each do |k, v| %>
<li><%= v %></li>
<% end %>
</ul>

<%= yield %>

</body>
</html>
