<h2>Edit a track</h2>
<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="tracks[album_id]" value="<%= @track.album_id %>">
  <label>Track title
    <input type="textarea" name="tracks[track_name]" value="<%= @track.track_name %>">
  </label>
  <br> <br>
  <label>Song lyrics<br>
    <textarea name="tracks[lyrics]" rows="8" cols="40"><%= @track.lyrics %></textarea>
  </label>
  <br>
  <input type="submit" name="name" value="Update track">

</form>
