<h2>Add a track</h2>
<form action="<%= tracks_url %>" method="post">
  <input type="hidden" name="tracks[album_id]" value="<%= params[:album_id] %>">
  <label>Track title
    <input type="textarea" name="tracks[track_name]" value="">
  </label>
  <br> <br>
  <label>Song lyrics<br>
    <textarea name="tracks[lyrics]" rows="8" cols="40"></textarea>
  </label>
  <br>
  <input type="submit" name="name" value="Add track">

</form>
