<a href="<%= bands_url %>">Home</a> > <a href="<%= band_url(@track.band) %>"><%= @track.band.name %></a> > <a href="<%= album_url(@track.album) %>"><%= @track.album.album_name %></a> > <%= @track.track_name %>

<br>
<h2>🎵 <%= @track.track_name %> 🎵 </h2>
<pre>
<%= ugly_lyrics(@track.lyrics) %>
</pre>
<br>
<br>
<form action="<%= edit_track_url(@track) %>" method="GET">
  <input type="submit" name="name" value="Edit this track">
</form>
<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="Delete this garbage track">
</form>
<br>
<h2>throw some shade</h2>
<form class="" action="<%= notes_url %>" method="post">
  <input type="hidden" name="notes[track_id]" value="<%= @track.id %>">
  <label>Posting as <%= current_user.email %><br>
    <textarea name="notes[note_body]" rows="8" cols="40"></textarea>
    <br><input type="submit" name="name" value="Add comment">
  </label>

</form>
<%= render @track.notes %>
