<h1>
  Log in!
</h1>
<br><br>
<form action=" <%= session_url %>" method="post">
<%= auth_token %>
<label for="username">Username</label>
<input type="text" name="session[username]" value="" id="username">
<br>
<label for="password">Password</label>
<input type="text" name="session[password]" value="" id="password">
<br>
<input type="submit" value="log in!">
</form>
