<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <% if current_user %>
    <h2>
    <img src="<%= asset_path("bana.gif") %>" alt="" height="50" width="50"/>
    <%= current_user.email %><img src="<%= asset_path("bana.gif") %>" alt="" height="50" width="50"/>
    </h2>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="name" value="LOG OUT FO SHO">
    </form>
    <% else %>
    <a href="<%= new_session_url %>">LAWG IN</a> | <a href="<%= new_user_url %>">NEW USR</a>
    <% end %>
  </header>

  <ul>
    <% flash.each do |k,v| %>
    <li><%= v %></li>
    <% end %>
  </ul>

  <body>


    <%= yield %>
  </body>
</html>
