<h1>New User</h1>
<form action= '<%= users_url %>' method="post">
  <label>Username
  <input type="textarea" name="user[email]" value="">
  </label>
  <br>
  <label>Password
  <input type="textarea" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" name="name" value="Create account">
</form>
