<form action= '<%= cat_rental_requests_url %>' method="post">
<table>
  <tr>
    <td>Pick a cat</td>
    <td>
      <select name = "cat_rental_request[cat_id]">
        <option value= ""> </option>

        <% Cat.all.each do |cat| %>
        <option value= "<%= cat.id %>"> <%= cat.name %> </option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td>
      <input type="date" name="cat_rental_request[start_date]"></input>
    </td>
  </tr>
  <tr>
    <td>End Date</td>
    <td>
      <input type="date" name="cat_rental_request[end_date]"></input>
    </td>
  </tr>
  <tr>
    <td>
      <input type="submit" value="go"></input>
    </td>
  </tr>
</table>
</form>
