<% user = User.find(note.user_id) %>
<br>
<%= user.email %> says...
<br>
<%= note.note_body %>
<br>
<% if user.id == current_user.id %>
<form class="" action="<%= note_url(note) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="Delete this note">
</form>

<% end %>
